ClientOrder/Connected Services/ServiceReference2/Order.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Order" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IOrder_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd2" namespace="http://tavisca.com" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Trips.DataContracts" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Package.DataContracts" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Air.DataContracts" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd7" namespace="http://tavisca.com/sharedtypes" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Hotel.DataContracts" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Content.DataContracts" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/ORXCore.Common" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd11" namespace="ORXCore.WebServicesAPI" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd12" namespace="ORXCore.WebServicesAPI.Enums" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd13" namespace="ORXCore.WebServicesAPI.DTO.Enums" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd14" namespace="ORXCore.WebServicesAPI.DTO" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/ORXCore.WebServicesAPI.Order" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/ORXCore.WebServicesAPI.DTO" />
      <xsd:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/ORXCore.LINQ.OrderEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrder_ProcessOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessOrder" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddTaxValues_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTaxValues" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddTaxValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaxValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_NotifyOfScheduleChange_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyOfScheduleChange" />
  </wsdl:message>
  <wsdl:message name="IOrder_NotifyOfScheduleChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyOfScheduleChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessRefund_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRefund" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessRefund_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRefundResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyTripCartRules_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyTripCartRules" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyTripCartRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyTripCartRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyCartLevelTripCartRules_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyCartLevelTripCartRules" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyCartLevelTripCartRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyCartLevelTripCartRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyTripCartRulesByTripCartRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyTripCartRulesByTripCartRQ" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyTripCartRulesByTripCartRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyTripCartRulesByTripCartRQResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyTripCartFeeRules_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyTripCartFeeRules" />
  </wsdl:message>
  <wsdl:message name="IOrder_ApplyTripCartFeeRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyTripCartFeeRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_HistoricalCartValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:HistoricalCartValidation" />
  </wsdl:message>
  <wsdl:message name="IOrder_HistoricalCartValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:HistoricalCartValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_RewardBinValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:RewardBinValidation" />
  </wsdl:message>
  <wsdl:message name="IOrder_RewardBinValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RewardBinValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_RecordCancelDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordCancelDetails" />
  </wsdl:message>
  <wsdl:message name="IOrder_RecordCancelDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordCancelDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_InsertOrderRefundFailures_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderRefundFailures" />
  </wsdl:message>
  <wsdl:message name="IOrder_InsertOrderRefundFailures_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderRefundFailuresResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_RemoveOrderComponentPendingCashRefund_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOrderComponentPendingCashRefund" />
  </wsdl:message>
  <wsdl:message name="IOrder_RemoveOrderComponentPendingCashRefund_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOrderComponentPendingCashRefundResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessShellInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessShellInvoice" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessShellInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessShellInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddDirtyPnrInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDirtyPnrInfo" />
  </wsdl:message>
  <wsdl:message name="IOrder_AddDirtyPnrInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDirtyPnrInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessDirtyPnrInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDirtyPnrInfo" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessDirtyPnrInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDirtyPnrInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessAutoResendDirtyPnrInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessAutoResendDirtyPnrInfo" />
  </wsdl:message>
  <wsdl:message name="IOrder_ProcessAutoResendDirtyPnrInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessAutoResendDirtyPnrInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_RetrieveDirtyPnrInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDirtyPnrInfo" />
  </wsdl:message>
  <wsdl:message name="IOrder_RetrieveDirtyPnrInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDirtyPnrInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrder">
    <wsdl:operation name="ProcessOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ProcessOrder" message="tns:IOrder_ProcessOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ProcessOrderResponse" message="tns:IOrder_ProcessOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTaxValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/AddTaxValues" message="tns:IOrder_AddTaxValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/AddTaxValuesResponse" message="tns:IOrder_AddTaxValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyOfScheduleChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/NotifyOfScheduleChange" message="tns:IOrder_NotifyOfScheduleChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/NotifyOfScheduleChangeResponse" message="tns:IOrder_NotifyOfScheduleChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRefund">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ProcessRefund" message="tns:IOrder_ProcessRefund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ProcessRefundResponse" message="tns:IOrder_ProcessRefund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyTripCartRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ApplyTripCartRules" message="tns:IOrder_ApplyTripCartRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ApplyTripCartRulesResponse" message="tns:IOrder_ApplyTripCartRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyCartLevelTripCartRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ApplyCartLevelTripCartRules" message="tns:IOrder_ApplyCartLevelTripCartRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ApplyCartLevelTripCartRulesResponse" message="tns:IOrder_ApplyCartLevelTripCartRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyTripCartRulesByTripCartRQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ApplyTripCartRulesByTripCartRQ" message="tns:IOrder_ApplyTripCartRulesByTripCartRQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ApplyTripCartRulesByTripCartRQResponse" message="tns:IOrder_ApplyTripCartRulesByTripCartRQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyTripCartFeeRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ApplyTripCartFeeRules" message="tns:IOrder_ApplyTripCartFeeRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ApplyTripCartFeeRulesResponse" message="tns:IOrder_ApplyTripCartFeeRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HistoricalCartValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/HistoricalCartValidation" message="tns:IOrder_HistoricalCartValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/HistoricalCartValidationResponse" message="tns:IOrder_HistoricalCartValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RewardBinValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/RewardBinValidation" message="tns:IOrder_RewardBinValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/RewardBinValidationResponse" message="tns:IOrder_RewardBinValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordCancelDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/RecordCancelDetails" message="tns:IOrder_RecordCancelDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/RecordCancelDetailsResponse" message="tns:IOrder_RecordCancelDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrderRefundFailures">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/InsertOrderRefundFailures" message="tns:IOrder_InsertOrderRefundFailures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/InsertOrderRefundFailuresResponse" message="tns:IOrder_InsertOrderRefundFailures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOrderComponentPendingCashRefund">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/RemoveOrderComponentPendingCashRefund" message="tns:IOrder_RemoveOrderComponentPendingCashRefund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/RemoveOrderComponentPendingCashRefundResponse" message="tns:IOrder_RemoveOrderComponentPendingCashRefund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessShellInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ProcessShellInvoice" message="tns:IOrder_ProcessShellInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ProcessShellInvoiceResponse" message="tns:IOrder_ProcessShellInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDirtyPnrInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/AddDirtyPnrInfo" message="tns:IOrder_AddDirtyPnrInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/AddDirtyPnrInfoResponse" message="tns:IOrder_AddDirtyPnrInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDirtyPnrInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ProcessDirtyPnrInfo" message="tns:IOrder_ProcessDirtyPnrInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ProcessDirtyPnrInfoResponse" message="tns:IOrder_ProcessDirtyPnrInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessAutoResendDirtyPnrInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/ProcessAutoResendDirtyPnrInfo" message="tns:IOrder_ProcessAutoResendDirtyPnrInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/ProcessAutoResendDirtyPnrInfoResponse" message="tns:IOrder_ProcessAutoResendDirtyPnrInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDirtyPnrInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/RetrieveDirtyPnrInfo" message="tns:IOrder_RetrieveDirtyPnrInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/RetrieveDirtyPnrInfoResponse" message="tns:IOrder_RetrieveDirtyPnrInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IOrder" type="tns:IOrder">
    <wsp:PolicyReference URI="#WSHttpBinding_IOrder_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ProcessOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTaxValues">
      <soap12:operation soapAction="http://tempuri.org/IOrder/AddTaxValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyOfScheduleChange">
      <soap12:operation soapAction="http://tempuri.org/IOrder/NotifyOfScheduleChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRefund">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ProcessRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyTripCartRules">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ApplyTripCartRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyCartLevelTripCartRules">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ApplyCartLevelTripCartRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyTripCartRulesByTripCartRQ">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ApplyTripCartRulesByTripCartRQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyTripCartFeeRules">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ApplyTripCartFeeRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoricalCartValidation">
      <soap12:operation soapAction="http://tempuri.org/IOrder/HistoricalCartValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RewardBinValidation">
      <soap12:operation soapAction="http://tempuri.org/IOrder/RewardBinValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordCancelDetails">
      <soap12:operation soapAction="http://tempuri.org/IOrder/RecordCancelDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrderRefundFailures">
      <soap12:operation soapAction="http://tempuri.org/IOrder/InsertOrderRefundFailures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOrderComponentPendingCashRefund">
      <soap12:operation soapAction="http://tempuri.org/IOrder/RemoveOrderComponentPendingCashRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessShellInvoice">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ProcessShellInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDirtyPnrInfo">
      <soap12:operation soapAction="http://tempuri.org/IOrder/AddDirtyPnrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDirtyPnrInfo">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ProcessDirtyPnrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessAutoResendDirtyPnrInfo">
      <soap12:operation soapAction="http://tempuri.org/IOrder/ProcessAutoResendDirtyPnrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDirtyPnrInfo">
      <soap12:operation soapAction="http://tempuri.org/IOrder/RetrieveDirtyPnrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Order">
    <wsdl:port name="WSHttpBinding_IOrder" binding="tns:WSHttpBinding_IOrder">
      <soap12:address location="http://localhost:57361/Order.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:57361/Order.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>