ClientOrder/Connected Services/ServiceReference2/Order2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ORXCore.WebServicesAPI.Enums" elementFormDefault="qualified" targetNamespace="ORXCore.WebServicesAPI.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ExecutionMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Live" />
      <xs:enumeration value="Simulator" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExecutionMode" nillable="true" type="tns:ExecutionMode" />
  <xs:simpleType name="ProcessResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="FailedAuthentication" />
      <xs:enumeration value="ProgramNotFound" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:simpleType name="ProcessResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessResponseType" nillable="true" type="tns:ProcessResponseType" />
</xs:schema>