ClientOrderNew/Connected Services/ServiceReference1/Order1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ORXCore.WebServicesAPI.Order" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ORXCore.WebServicesAPI.Order" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd11" namespace="ORXCore.WebServicesAPI" />
  <xs:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd13" namespace="ORXCore.WebServicesAPI.DTO.Enums" />
  <xs:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd12" namespace="ORXCore.WebServicesAPI.Enums" />
  <xs:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd14" namespace="ORXCore.WebServicesAPI.DTO" />
  <xs:complexType name="OnlineRefundRQ">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="ORXCore.WebServicesAPI" base="q1:WebServiceRQ">
        <xs:sequence>
          <xs:element minOccurs="0" name="CheckIsRefundable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Components" nillable="true" type="tns:ArrayOfCanceledComponent" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DoNotCheckForESSEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCancel" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCancelFraudulentBooking" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCancelRefund" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCreditCardRefundNeeded" type="xs:boolean" />
          <xs:element minOccurs="0" name="NonCanceledComponents" nillable="true" type="tns:ArrayOfNonCanceledComponent" />
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
          <xs:element minOccurs="0" name="OrderingTool" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuperPnr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalCashRefundAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalProgramCurrency" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalPurchasePrice" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlineRefundRQ" nillable="true" type="tns:OnlineRefundRQ" />
  <xs:complexType name="ArrayOfCanceledComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CanceledComponent" nillable="true" type="tns:CanceledComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCanceledComponent" nillable="true" type="tns:ArrayOfCanceledComponent" />
  <xs:complexType name="CanceledComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentInvolvementFee" type="xs:decimal" />
      <xs:element xmlns:q2="ORXCore.WebServicesAPI.DTO.Enums" minOccurs="0" name="CancelReasonId" type="q2:CreditReasonType" />
      <xs:element minOccurs="0" name="CancelationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelationFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="ComponentId" type="xs:int" />
      <xs:element minOccurs="0" name="ConfirmationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="ORXCore.WebServicesAPI" minOccurs="0" name="ProductType" type="q3:ComponentType" />
      <xs:element minOccurs="0" name="ProgramCurrency" type="xs:decimal" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanceledComponent" nillable="true" type="tns:CanceledComponent" />
  <xs:complexType name="ArrayOfNonCanceledComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NonCanceledComponent" nillable="true" type="tns:NonCanceledComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNonCanceledComponent" nillable="true" type="tns:ArrayOfNonCanceledComponent" />
  <xs:complexType name="NonCanceledComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComponentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ConfirmationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoCodeCurrency" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromoCodeProgramCurrency" type="xs:decimal" />
      <xs:element minOccurs="0" name="RuleGroupType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleGroupTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonCanceledComponent" nillable="true" type="tns:NonCanceledComponent" />
  <xs:complexType name="OnlineRefundRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramCurrencyAvailable" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefundDetails" nillable="true" type="tns:ArrayOfRefundDetail" />
      <xs:element xmlns:q4="ORXCore.WebServicesAPI.Enums" minOccurs="0" name="Result" type="q4:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnlineRefundRS" nillable="true" type="tns:OnlineRefundRS" />
  <xs:complexType name="ArrayOfRefundDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RefundDetail" nillable="true" type="tns:RefundDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRefundDetail" nillable="true" type="tns:ArrayOfRefundDetail" />
  <xs:complexType name="RefundDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashPresent" type="xs:boolean" />
      <xs:element xmlns:q5="ORXCore.WebServicesAPI.Enums" minOccurs="0" name="CashRefundStatus" type="q5:ProcessResponseType" />
      <xs:element minOccurs="0" name="ConfirmationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyRefunded" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeeAmountCharged" type="xs:decimal" />
      <xs:element xmlns:q6="ORXCore.WebServicesAPI.Enums" minOccurs="0" name="PointRefundStatus" type="q6:ProcessResponseType" />
      <xs:element xmlns:q7="ORXCore.WebServicesAPI" minOccurs="0" name="ProductType" type="q7:ComponentType" />
      <xs:element minOccurs="0" name="ProgramCurrencyPresent" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProgramCurrencyRefunded" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundDetail" nillable="true" type="tns:RefundDetail" />
  <xs:complexType name="RecordCancelDetailsRQ">
    <xs:sequence>
      <xs:element xmlns:q8="ORXCore.WebServicesAPI.DTO.Enums" minOccurs="0" name="CurrencyType" type="q8:CurrencyType" />
      <xs:element minOccurs="0" name="IsCreditCardRefundNeeded" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderingTool" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordCancelDetailOptions" type="tns:RecordCancelDetailOptions" />
      <xs:element minOccurs="0" name="RefundOrderDetail" nillable="true" type="tns:ArrayOfRecordCancelOrderDetail" />
      <xs:element minOccurs="0" name="RequestedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordCancelDetailsRQ" nillable="true" type="tns:RecordCancelDetailsRQ" />
  <xs:simpleType name="RecordCancelDetailOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DoNotRecordOrderDetailCurrency">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="RecordCancelDetailOptions" nillable="true" type="tns:RecordCancelDetailOptions" />
  <xs:complexType name="ArrayOfRecordCancelOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordCancelOrderDetail" nillable="true" type="tns:RecordCancelOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecordCancelOrderDetail" nillable="true" type="tns:ArrayOfRecordCancelOrderDetail" />
  <xs:complexType name="RecordCancelOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Components" nillable="true" type="tns:ArrayOfRecordCancelComponent" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordCancelOrderDetail" nillable="true" type="tns:RecordCancelOrderDetail" />
  <xs:complexType name="ArrayOfRecordCancelComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordCancelComponent" nillable="true" type="tns:RecordCancelComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecordCancelComponent" nillable="true" type="tns:ArrayOfRecordCancelComponent" />
  <xs:complexType name="RecordCancelComponent">
    <xs:sequence>
      <xs:element xmlns:q9="ORXCore.WebServicesAPI.DTO" minOccurs="0" name="Fees" nillable="true" type="q9:ArrayOfFee" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderCancelCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordCancelComponent" nillable="true" type="tns:RecordCancelComponent" />
  <xs:complexType name="RemoveOrderComponentPendingCashRefundRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="RequestedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveOrderComponentPendingCashRefundRQ" nillable="true" type="tns:RemoveOrderComponentPendingCashRefundRQ" />
  <xs:complexType name="RemoveOrderComponentPendingCashRefundRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveOrderComponentPendingCashRefundRS" nillable="true" type="tns:RemoveOrderComponentPendingCashRefundRS" />
  <xs:complexType name="ProcessShellInvoiceRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" type="xs:int" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ContainsProgramCurrency" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessShellInvoiceRQ" nillable="true" type="tns:ProcessShellInvoiceRQ" />
  <xs:complexType name="AddDirtyPnrInfoRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlineLocator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlinePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDSName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsProcessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassengerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassengerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramId" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramSCPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuperPNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddDirtyPnrInfoRQ" nillable="true" type="tns:AddDirtyPnrInfoRQ" />
  <xs:complexType name="DirtyPnrInfoRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="ORXCore.WebServicesAPI.Enums" minOccurs="0" name="Status" type="q10:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirtyPnrInfoRS" nillable="true" type="tns:DirtyPnrInfoRS" />
  <xs:complexType name="ProcessDirtyPnrInfoRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessDirtyPnrInfoRQ" nillable="true" type="tns:ProcessDirtyPnrInfoRQ" />
  <xs:complexType name="ProcessAutoResendDirtyPnrInfoRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="IsATTCountShouldChange" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProcessDateShouldChange" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStatusShouldChange" type="xs:boolean" />
      <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarkAsProcessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessAutoResendDirtyPnrInfoRQ" nillable="true" type="tns:ProcessAutoResendDirtyPnrInfoRQ" />
  <xs:complexType name="RetrieveDirtyPnrInfoRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveDirtyPnrInfoRQ" nillable="true" type="tns:RetrieveDirtyPnrInfoRQ" />
  <xs:complexType name="RetrieveDirtyPnrInfoRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirtyPnrInfoRecords" nillable="true" type="tns:ArrayOfDirtyPnrInfoRecord" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="ORXCore.WebServicesAPI.Enums" minOccurs="0" name="Status" type="q11:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveDirtyPnrInfoRS" nillable="true" type="tns:RetrieveDirtyPnrInfoRS" />
  <xs:complexType name="ArrayOfDirtyPnrInfoRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirtyPnrInfoRecord" nillable="true" type="tns:DirtyPnrInfoRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirtyPnrInfoRecord" nillable="true" type="tns:ArrayOfDirtyPnrInfoRecord" />
  <xs:complexType name="DirtyPnrInfoRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlineLocator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlinePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDSName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsProcessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramId" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramSCPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuperPNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirtyPnrInfoRecord" nillable="true" type="tns:DirtyPnrInfoRecord" />
</xs:schema>