ClientOrderNew/Connected Services/ServiceReference1/Order16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ORXCore.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ORXCore.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57361/Order.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OrderResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebServiceResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdditionalInfo" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
          <xs:element minOccurs="0" name="OrderConfirmationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
          <xs:element minOccurs="0" name="ProgramCurrency" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProgramCurrencyHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RawBalance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecapId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RewardsAvailable" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderResponse" nillable="true" type="tns:OrderResponse" />
  <xs:complexType name="WebServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceResponse" nillable="true" type="tns:WebServiceResponse" />
</xs:schema>