ClientOrder/Connected Services/ServiceReference1/Order3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ORXCore.WebServicesAPI.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ORXCore.WebServicesAPI.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ManualHotelResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverallRanking" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="RankingInfo" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManualHotelResult" nillable="true" type="tns:ManualHotelResult" />
</xs:schema>